<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attendanceMapper">
	
	<insert id="insertInTime" parameterType="Map">
		INSERT INTO WORK(NO, EMP_NO, IN_TIME) VALUES(SEQ_WORK.NEXTVAL, #{empNo}, SYSDATE)
	</insert>
	
	<update id="updateOutTime">
		UPDATE WORK 
		SET OUT_TIME = SYSDATE 
		WHERE EMP_NO = #{empNo} 
			AND NO = #{no} 
			AND OUT_TIME IS NULL
	</update>
	
	<update id="updateOverTime">
		UPDATE WORK SET OVER_TIME =
			(SELECT NVL(TRUNC((TO_DATE(TO_CHAR(OUT_TIME, 'HH24:MI'), 'HH24:MI') - TO_DATE(DO_TIME, 'HH24:MI')) * 24 * 60), 0)
			        FROM (SELECT OUT_TIME FROM WORK WHERE EMP_NO = #{empNo} AND NO = #{no})
			        ,(SELECT OUT_TIME AS DO_TIME FROM WORK_TYPE WHERE END_DAY IS NULL AND DEPT_NO = (SELECT DEPT_NO FROM EMPLOYEE WHERE EMP_NO = #{empNo}))
			)
		WHERE NO = #{no}
	</update>

	<update id="updateStatus">
		UPDATE WORK SET STATUS_CODE =
			( SELECT CASE WHEN OVER_TIME <![CDATA[<=]]> -60 THEN 3
		            WHEN OVER_TIME <![CDATA[>=]]> 60 THEN 6
		            ELSE 2 END
		     FROM WORK
		     WHERE EMP_NO = #{empNo} AND NO = #{no}
			)
		WHERE NO = #{no}
	</update>
	
	<select id="selectInOutTime" resultType="WorkTimeVo">
		SELECT NO, EMP_NO, NVL(TO_CHAR(IN_TIME, 'HH24:MI'), '미등록') AS IN_TIME, NVL(TO_CHAR(OUT_TIME, 'HH24:MI'), '미등록') AS OUT_TIME 
		FROM WORK 
		WHERE EMP_NO = #{empNo} 
			AND TO_CHAR(IN_TIME, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</select>
	
	<select id="selectMonthWork" resultType="int">
		SELECT NVL(SUM(TRUNC((OUT_TIME - IN_TIME) * 24 * 60)), 0) AS MONTH_WORK 
		FROM WORK 
		WHERE EMP_NO = #{empNo} 
			AND TO_CHAR(IN_TIME, 'YYYY-MM') = TO_CHAR(SYSDATE, 'YYYY-MM')
	</select>
	
	<select id="selectWeekWork" resultType="int">
		SELECT NVL(SUM(TRUNC((OUT_TIME - IN_TIME) * 24 * 60)), 0) AS WEEK_WORK 
		FROM WORK 
		WHERE EMP_NO = #{empNo} 
			AND TO_CHAR(IN_TIME, 'YY-MM-DD') BETWEEN TRUNC(SYSDATE,'iw') 
			AND SYSDATE
	</select>
	
	<select id="selectDayWork" resultType="int">
		SELECT NVL(TRUNC((NVL(OUT_TIME, SYSDATE) - IN_TIME) * 24 * 60), 0) AS DAY_WORK 
		FROM WORK 
		WHERE EMP_NO = #{empNo} 
			AND TO_CHAR(IN_TIME, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</select>
	
	<select id="selectDayWorkInfo" resultType="WorkVo" parameterType="Map">
		SELECT 
		    NO, NAME AS STATUS_NAME, NVL(OVER_TIME, 0) AS OVER_TIME,
		    NVL(TO_CHAR(IN_TIME, 'HH24:MI'), 0) AS IN_TIME, 
		    NVL(TO_CHAR(OUT_TIME, 'HH24:MI'), 0) AS OUT_TIME,
		    NVL(TRUNC((OUT_TIME - IN_TIME) * 24 * 60), 0) AS WORK_TIME, 
		    NVL(TRUNC((TO_DATE(TO_CHAR(IN_TIME, 'HH24:MI'),'HH24:MI') - TO_DATE(DI_TIME, 'HH24:MI')) * 24 * 60), 0) AS LATE_TIME, 
		    NVL(TRUNC((TO_DATE(DO_TIME, 'HH24:MI') - TO_DATE(TO_CHAR(OUT_TIME, 'HH24:MI'),'HH24:MI')) * 24 * 60), 0) AS EARLYOUT_TIME
		FROM 
		    (SELECT * 
		        FROM (SELECT NO, STATUS_CODE, IN_TIME, OUT_TIME, OVER_TIME FROM WORK WHERE EMP_NO = #{empNo} AND TO_CHAR(IN_TIME, 'YYYY-MM-DD') = #{day})
		        JOIN WORK_STATUS S ON STATUS_CODE = S.CODE),
		    (SELECT EMP_NAME FROM EMPLOYEE WHERE EMP_NO = #{empNo}),
		    (SELECT IN_TIME AS DI_TIME, OUT_TIME AS DO_TIME FROM WORK_TYPE WHERE END_DAY IS NULL AND DEPT_NO = (SELECT DEPT_NO FROM EMPLOYEE WHERE EMP_NO = #{empNo}))
	</select>
	
</mapper>
