<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="bonusMapper">
	
	<insert id="addBenefit">
		INSERT INTO BENEFIT_CATE(
		    NO
		    ,CATE
		)
		VALUES
		(
		    SEQ_BENEFIT_CATE_NO.NEXTVAL
		    ,#{title}
		)
	</insert>
	
	<select id="selectBenefit" resultType="String">
		SELECT CATE
		FROM BENEFIT_CATE
	</select>
	
	<select id="selectDepart" resultType="String">
		SELECT DEPT_NAME
		FROM DEPARTMENT
	</select>
	
	<select id="selectEmp" resultType="String">
		SELECT E.EMP_NAME
		FROM 
		EMPLOYEE E JOIN DEPARTMENT D ON E.DEPT_NO = D.DEPT_NO
		WHERE D.DEPT_NAME = #{depart}
	</select>
	
	<select id="selectOne" resultType="BenefitVo">
		SELECT 
		B.NO AS NO, B.EMP_NO AS EMP_NO, C.CATE AS CATE, B.AMOUNT AS AMOUNT 
		FROM BENEFIT B JOIN BENEFIT_CATE C ON B.BENEFIT_CATE = C.NO 
		WHERE B.EMP_NO = #{no}
	</select>
	
	<update id="updateOne">
		UPDATE BENEFIT SET AMOUNT = #{amount}
		WHERE EMP_NO = #{empNo}
		AND #{cate}=(SELECT C.CATE FROM BENEFIT_CATE C JOIN BENEFIT B ON C.NO = B.NO)
	</update>
	
	<select id="bonusList" resultType="BonusVo">
		SELECT 
			NO 
			, TITLE
			, TO_CHAR(B_DATE,'YYYY-MM-DD')AS B_DATE
			, CONTENT 
		FROM B_INFO
	</select>
	
	<insert id="insertBonus">
		INSERT INTO B_INFO 
			(NO , TITLE, B_DATE, CONTENT) 
		VALUES 
			( SEQ_B_INFO_NO.nextval,#{title}, TO_CHAR(#{bdate}, 'YYYY-MM-DD'), '#{content}')
	</insert>
	
</mapper>
