<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="docMapper">
  	
  	<insert id="insertDoc">
		INSERT INTO DOC
			(DOC_NO, TITLE, CONTENT, EMP_NO, ENROLL_DATE) 
		VALUES
			(SEQ_DOC_NO.NEXTVAL,#{title},#{content},#{empNo},SYSDATE)
  	</insert>
  	
  	<select id="selectRangeDoc" resultType="DocVo">
  		SELECT 
  			D.DOC_NO, D.TITLE, D.CONTENT, D.EMP_NO, D.ENROLL_DATE, D.STATUS, 
        	C.ENROLL_DATE AS CONT_ENROLL_DATE, C.END_DATE AS CONT_END_DATE, C.RANGE, C.STATUS AS CONTSTATUS 
        FROM DOC D JOIN DOC_CONTROL C 
        ON D.DOC_NO = C.DOC_NO 
        WHERE RANGE LIKE '%'||#{range}||'%' OR RANGE LIKE 'OPEN'
  	</select>
  	
  	<insert id="insertFile">
  		INSERT INTO D_FILE 
  		(
  			FILE_NO , DOC_NO, FILE_PATH, UPLOAD_NAME , ORIGIN_NAME
  		) 
  		VALUES
  		(
  			SEQ_D_FILE_NO.NEXTVAL, SEQ_DOC_NO.CURRVAL, #{filePath} ,#{uploadName},#{originName}
  		)
  	</insert>
  	
  	<select id="selectCountAll" resultType="int">
  		SELECT COUNT(*) FROM DOC WHERE EMP_NO = #{empNo}
  	</select>
  	
	<select id="selectDocByEmp" resultType="DocVo">
		SELECT 
			DOC_NO,TITLE,CONTENT,EMP_NO,TO_CHAR(ENROLL_DATE,'YYYY"년"MM"월"DD"일"')AS ENROLL_DATE, STATUS
		FROM DOC 
		WHERE EMP_NO = #{map.empNo}
		ORDER BY DOC_NO DESC
	</select>  	
	
	<select id="selectOneDoc" resultType="DocVo">
		SELECT 
		    D.DOC_NO , D.TITLE, D.CONTENT, D.EMP_NO , D.STATUS, TO_CHAR(D.ENROLL_DATE,'YYYY"년"MM"월"DD"일"')AS ENROLL_DATE , TO_CHAR(C.ENROLL_DATE,'YYYY"년"MM"월"DD"일"')AS CONT_ENROLL_DATE, TO_CHAR(C.END_DATE,'YYYY"년"MM"월"DD"일"')AS CONT_END_DATE, RANGE, C.STATUS AS CONT_STATUS
		FROM DOC D JOIN DOC_CONTROL C ON D.DOC_NO = C.DOC_NO WHERE D.DOC_NO = #{no}
	</select>

  	<select id="selectDept" resultType="MemberVo">
  		SELECT DEPT_NO , DEPT_NAME FROM DEPARTMENT
  	</select>
  	
  	<insert id="insertControl">
  		INSERT INTO DOC_CONTROL
  		(NO
		,ENROLL_DATE
		,END_DATE
		,RANGE
		,STATUS
		,DOC_NO)
		VALUES
		(
		SEQ_DOC_CONTROL_NO.NEXTVAL
		,#{contEnrollDate}
		,#{contEndDate}
		,#{range}
		,'N'
		,SEQ_DOC_NO.CURRVAL
		)
  	</insert>
  	
  	<select id="selectRangeCountAll" resultType="int">
  		SELECT COUNT(D.DOC_NO) FROM DOC D JOIN DOC_CONTROL C ON D.DOC_NO = C.DOC_NO WHERE RANGE LIKE '%'||#{range}||'%' OR RANGE LIKE 'OPEN'
  	</select>
  	
  	<update id="updateRange">
  		UPDATE DOC_CONTROL SET RANGE = NULL WHERE END_DATE &lt; SYSDATE
  	</update>
  	
  	
</mapper>










