<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="docMapper">
  	
  	<insert id="insertDoc">
		INSERT INTO DOC
			(DOC_NO, TITLE, CONTENT, EMP_NO, ENROLL_DATE) 
		VALUES
			(SEQ_DOC_NO.NEXTVAL,#{title},#{content},#{empNo},SYSDATE)
  	</insert>
  	
  	<select id="selectDoc" resultType="DocVo">
  		SELECT DOC_NO,TITLE,CONTENT,EMP_NO,TO_CHAR(ENROLL_DATE,'YYYY"년"MM"월"DD"일"')AS ENROLL_DATE FROM DOC WHERE STATUS = 'N'
  	</select>
  	
  	<insert id="insertFile">
  		INSERT INTO D_FILE 
  		(
  			FILE_NO , DOC_NO, FILE_PATH, UPLOAD_NAME , ORIGIN_NAME
  		) 
  		VALUES
  		(
  			SEQ_D_FILE_NO.NEXTVAL, SEQ_DOC_NO.CURRVAL, #{filePath} ,#{uploadName},#{originName}
  		)
  	</insert>
  	
  	<select id="selectCountAll" resultType="int">
  		SELECT COUNT(*) FROM DOC WHERE EMP_NO = #{empNo}
  	</select>
  	
	<select id="selectDocByEmp" resultType="DocVo">
		SELECT 
			DOC_NO,TITLE,CONTENT,EMP_NO,TO_CHAR(ENROLL_DATE,'YYYY"년"MM"월"DD"일"')AS ENROLL_DATE, STATUS
		FROM DOC 
		WHERE EMP_NO = #{map.empNo}
		ORDER BY DOC_NO DESC
	</select>  	
	
	<select id="selectOneDoc" resultType="DocVo">
		SELECT * FROM DOC WHERE DOC_NO = #{no}
	</select>
  	
  	<select id="selectRange" resultType="java.util.HashMap">
  		SELECT G.*,R.NAME FROM RANGE_G G JOIN RANGE R ON G.RANGE_NO = R.RANGE_NO
  	</select>
</mapper>










