<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="planPopMapper">
  <insert id="">
  	INSERT INTO PLAN
  	(
  		PNAME
  		, PCONTENT
  		, PSTART
  		, PEND
  	)
  	
  	VALUES
  	(
  		#{PNAME}
  		, #{PCONTENT}
  		, #{PSTART}
  		, #{PEND} 	
  	)
  
  </insert>
</mapper>