<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="planPopMapper">
  <insert id="addPlan">
  INSERT INTO PLAN 
  (
	INSERT INTO PLAN (
	         PNO
	        ,PNAME
	        ,PSTART
	        ,PEND
	        ,PCONTENT
	)
	VALUES (
	
	        SEQ_PLAN_NO.NEXTVAL
	        ,#{pname}
	        ,#{pstart}
	        ,#{pend}
	        ,#{pcontent}
)
  
  </insert>
</mapper>