<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="bonusMapper">
	
	<insert id="addBenefit">
		INSERT INTO BENEFIT_CATE(
		    NO
		    ,CATE
		)
		VALUES
		(
		    SEQ_BENEFIT_CATE_NO.NEXTVAL
		    ,#{title}
		)
	</insert>
	
	<select id="selectBenefit" resultType="String">
		SELECT CATE
		FROM BENEFIT_CATE
	</select>
	
	<select id="selectDepart" resultType="String">
		SELECT DEPT_NAME
		FROM DEPARTMENT
	</select>
	
	<select id="selectEmp" resultType="String">
		SELECT E.EMP_NAME
		FROM 
		EMPLOYEE E JOIN DEPARTMENT D ON E.DEPT_NO = D.DEPT_NO
		WHERE D.DEPT_NAME = #{depart}
	</select>
	
</mapper>
